@media only screen and (max-width: 999px) {
    #page #header {
        background: #274F75;
    }

    #page #header ul {
        background: #82BC0E;
        width: auto;
    }
    
    #page #header #section {
        width: auto;
        height: 115px;
    }
    
    #page #header #section div a img {
        height: 30px;
    }
    
    #page #header #section span {
        font-size: 12px;
    }
}

/* content @media */

@media only screen and (max-width: 960px) {
    #page #content {
        width: auto;
    }

    #page #content #home {
        width: auto;
    }

    #page #content #home div {
        width: auto;
    }

    #page #content #home div #calendar {
        width: 240px;
    }

    #page #content #home div #calendar ul li div {
        width: 100% !important;
    }
    #page #footer  .section {
        float: none;
        width: 600px;
    }
}
@media only screen and (max-width: 875px){
    #page #content #home div {
        width: 100%;
        clear: both;
    }
    #page #content #home div #aside {
        margin: 0 auto;
        width: 100%;
    }
    #page #content #home div #aside div {
        width: 600px;
        clear: both;
        margin: 0 auto;
    }
    #page #content #home div #aside ul {
        width: 600px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px !important;
        margin: 0 auto;
    }
    #page #content #home div #calendar {
        padding-top: 20px;
        /* display: flex; */
        /* justify-content: space-between; */
        clear: both;
        float: none !important;
        width: 600px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 850px) {
    #page #header ul:hover {
        height: auto;
    }
    
    #page #header ul {
        height: 43px;
        overflow-y: hidden;
    }
    
    #page #header ul li {
        float: none;
        padding-right: 0;
    }

    #page #header ul li.notMenuItem {
        display: block;
        color: #28475C;
        display: block;
        font-size: 14px;
        height: 43px;
        line-height: 37px;
        padding: 0 23px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 0 #94C81D;
        text-transform: capitalize;
    }

    #page #header ul li.notMenuItem:hover {
        background: #82BC0E;
    }
}

@media only screen and (max-width: 630px) {
    #page #header #section {
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    #page #header #section div {
        margin-top: 10px;
    }

    #page #header #section span {
        float: none;
        display: block;
        clear: left;
        text-align: left;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #page #header #tagline {
        margin-top: 0;
        background-position: -650px -20px;
    }
}

@media only screen and (max-width: 470px) {
    #page #header #section div a img {
        height: auto;
        width: 100%;
    }

    #page #header #tagline div,
    #page #header #tagline div h4,
    #page #header #tagline div p {
        width: auto;
    }

    #page #header #tagline div h4 {
        font-size: 36px;
        line-height: 40px;
    }

    #page #header #tagline div p {
        font-size: 18px;
    }
}